$topnav-bg: #333
$topnav-hover: #ddd

.topnav
    position: sticky
    top: 0
    background-color: $topnav-bg
    display: flex
    justify-content: space-around    
    
    a
        display: block
        color: #f2f2f2
        text-decoration: none
        font-size: 2vw
        font-family: Helvetica
    a:hover
        background-color: $topnav-hover

.active
    background-color: #4CAF50
    
    
//   убрать  

.columns 
    float: left
    width: 33.3%
    padding: 8px
    
.price:hover 
    box-shadow: 0 8px 12px 0 rgba(0,0,0,0.2)
    
.price 
    list-style-type: none
    border: 1px solid #eee
    margin: 0
    padding: 0
    -webkit-transition: 0.3s
    transition: 0.3s
  
    .header 
        background-color: #111
        color: white
        font-size: 25px

    li 
        border-bottom: 1px solid #eee
        padding: 20px
        text-align: center

    .grey 
        background-color: #eee
        font-size: 20px

.button 
    background-color: #4CAF50
    border: none
    color: white
    padding: 10px 25px
    text-align: center
    text-decoration: none
    font-size: 18px


    
        