<!doctype html>
<html class="no-js" lang="{{ site.locale | slice: 0,2 | default: "en" }}">

<head>
  <meta charset="utf-8">
  <title>{{ page.title }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="manifest" href="site.webmanifest">
  <link rel="apple-touch-icon" href="icon.png">
  <!-- Place favicon.ico in the root directory -->
  <meta name="theme-color" content="#fafafa">
  <link rel="stylesheet" href="css/normalize.css">
  <link rel="stylesheet" href="css/o.css">

</head>

<body>
  <!--[if IE]>
    <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="https://browsehappy.com/">upgrade your browser</a> to improve your experience and security.</p>
  <![endif]-->
  <div class="topnav">    
		{%- for link in site.data.navigation.main -%}
			{% if page.place == link.place %}
				<a href="{{ link.url }}" class="active">{{ link.title }}</a>
			{% else %}
				<a href="{{ link.url }}">{{ link.title }}</a>
			{% endif %}			
		{%- endfor -%}    
  </div>
  <section>
       {{ content }}
  </section>
  <footer>
	{{ site.time }}
  </footer>

</body>
</html>